.tag{
    background: #fff  0% 0% no-repeat padding-box;
    border-radius: 64px;
    opacity: 1;
    text-align: center;
    font: normal normal normal 12px/15px Montserrat;
    letter-spacing: 0px;
    color:#1D2B4F;
    opacity: 1;
}

.tag-text-blue{
    
    color:#1D2B4F;
    border:1px solid #1D2B4F
}
.tag-text-yellow{
    
    color:#FDC953;
    border:1px solid #FDC953
}
.tag-text-grey{
    
    color:#888888;
    border:1px solid #888888
}

.tag-bg-yellow{
    background: #FDC953   0% 0% no-repeat padding-box;
    color:#fff;
}

.tag-bg-blue{
    background: #1D2B4F    0% 0% no-repeat padding-box;
    color:#fff;
}
.tag-bg-grey{
    background: #888888    0% 0% no-repeat padding-box;
    color:#fff;
}

.tag-bg-black{
    background: black   0% 0% no-repeat padding-box;
    color:#fff;
}