.box{
    width: 20px;
    height:20px
}
.box_label{
    
    background: #ffffff 0% 0% no-repeat padding-box;
    opacity: 1;
    font: normal normal normal 20px/27px Poppins;
    text-align: left;
    letter-spacing: 0px;
    color: #888888;
    text-transform: capitalize;
}