.button_class{
    background: #1D2B4F 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
    color:white;
    font:  normal normal 600 18px/27px poppins;
    text-align: left;
    letter-spacing: 1.19px;
    text-transform: uppercase;

}
.button_class:hover{
    color:white;
}


